
<header>
  <div class="transbox"></div>
    <a class="home" href="brand.html">
         <img class="logo" alt="logo" src="images/coffee.jpg" width= "400px" height= "200px"/>	</a>
     <h1>Tomoca Coffee</h1>  
    <div class = "topnav">
        <a href="http://students.cpcc.edu/~skefene0/web250/project/brand.html">brand
        <a href="http://students.cpcc.edu/~skefene0/web250/introduction.html">introduction</a>
        <a href="http://students.cpcc.edu/~skefene0/web250/contract.html">contract </a>
        
              
    </div><br>	 
  
  </header>