

body {
	font-family: 'Philosopher', sans-serif;
	font-size: 1.3em;
	color: black;
	background-color: lightskyblue;
	height: 40px;
	min-width:250px;
	width:100%;

}

main {
	display:inline-block;
	margin: 20px 0 20px 200px;
	min-height: 530px;
	height: auto;
	position: relative;
	padding: 0 30px;
}
#introduction_form {
        width: 105%;
    }
    
    #introduction_form div label {
        font-weight: bold;
    }
    
    .text-box 
    {
      width: 100%;
      padding-bottom: 70px;
      word-break: break-all;
    }
    

h1, h2{
	
        color : black;
       text-align: center;
       font-family: 'Georgia', Helvetica;
       font-weight: bold;
}
h3, h4, h5 {
        color : black;
	text-align: center;
	font-family: 'Mogra', cursive;
	font-weight: bold;
}

h2 {
	font-size: 1.5em;
	margin-top: 10px;
}

img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
      }
div.figure {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  
}

.logo {
	margin-left: 0px;
	margin-bottom: 20px;
	
	position: absolute;
	z-index: 11;
}

footer {
 text-align : center;
 }
